<% if user_signed_in?  %>
  <% unless user.id == current_user.id  %>
    <% if @haveroom == true %>
      <div class="chat">
        <%= link_to 'chatを始める○', room_path(@roomid) %>
      </div>
    <% else  %>
      <div>
        <%= form_with model: @room, local: true do |f| %>
          <%= fields_for @user_room do |e|  %>
            <%= e.hidden_field :user_id, value: user.id %>
          <% end  %>
          <%= f.submit 'chatを始めるX'  %>
        <% end  %>
      </div>
    <% end  %>
  <% end  %>
<% end  %>
